<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Custom Theme files -->
  <!--theme-style-->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="I-wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
  <script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  } </script>
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>
  <!--fonts-->
  <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet'
        type='text/css'>
  <link href='http://fonts.useso.com/css?family=Montez' rel='stylesheet' type='text/css'>
  <!--//fonts-->
  <script src="js/simpleCart.min.js"></script>
  <!-- start menu -->
  <link href="css/memenu.css" rel="stylesheet" type="text/css" media="all"/>
  <script type="text/javascript" src="js/memenu.js"></script>
  <script>$(document).ready(function () {
    $(".memenu").memenu();
  });</script>
  <!-- /start menu -->
  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- js -->
  <script src="js/bootstrap.js"></script>
  <!-- js -->

</head>
<body>
<!--header-->
<div class="header-info">
  <div class="container">
    <div class="header-top-in">

      <ul class="support">
        <li><a href="mailto:info@example.com"><i class="glyphicon glyphicon-envelope"> </i>975130528@qq.com</a>
        </li>
        <li><span><i class="glyphicon glyphicon-earphone" class="tele-in"> </i>18438651132</span>
        </li>
      </ul>
      <ul class=" support-right">
        <li id="user"></li>
        <li><a href="register.html"><i class="glyphicon glyphicon-lock" class="tele"> </i>立即注册</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="header header5">
  <div class="header-top">

    <div class="header-bottom">
      <div class="container">
        <div class="logo">
          <h1><a href="index.html"><span>小易</span></a></h1>
        </div>


        <div class="top-nav">
          <ul class="memenu skyblue">
            <li><a href="index.html">首页</a></li>
            <li class="active" class="grid"><a href="#">商品</a>
              <div class="mepanel">
                <div class="row">
                  <div class="col1 me-one">
                    <h4>分类</h4>
                    <ul id="category1">
                      <!--品牌-->
                    </ul>
                  </div>
                  <div class="col1 me-one">
                    <h4>适合年龄</h4>
                    <ul>
                      <li><a href="product.html">婴幼儿</a></li>
                      <li><a href="product.html">青少年</a></li>
                      <li><a href="product.html">成人</a></li>
                      <li><a href="product.html">老年</a></li>
                    </ul>
                  </div>
                  <div class="col1 me-one">
                    <h4>其他配件</h4>
                    <ul>
                      <li><a href="product.html">地图</a></li>
                      <li><a href="product.html">地球仪</a></li>
                      <li><a href="product.html">耳机</a></li>
                      <li><a href="product.html">学习机</a></li>
                      <li><a href="product.html">点读机</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>


            <li class="grid"><a href="contact.html">联系我们</a>

            </li>
            <li class="grid"><a href="about.html">关于我们</a>

            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!---->
        <div class="cart box_1">
          <a href="checkout.html">
            <h3>
              <div class="total">
                <span class="simpleCart_total"> </span> (<span id="simpleCart_quantity"
                                                               class="simpleCart_quantity"> </span>)
              </div>

              <img src="images/cart2-2.png" alt=""/></h3>
          </a>
          <p><a href="javascript:;" class="simpleCart_empty">清空购物车</a></p>
          <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <!---->
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
</div>
<!---->
<!---->
<div class="back">
  <h2>商品列表</h2>
</div>
<!---->
<div class="product">
  <div class="container">
    <div class="col-md-3 product-price">
      <div class="price-grid">
        <div class="clearfix"></div>
        <!---->
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">


        <!---->
      </div>
      <div class=" rsidebar span_1_of_left">
        <div class="of-left">
          <h3 class="cate">商品分类</h3>
        </div>
        <ul class="menu" id="category">

        </ul>
      </div>
      <!--initiate accordion-->
      <script type="text/javascript">
        $(function () {
          var menu_ul = $('.menu > li > ul'),
              menu_a = $('.menu > li > a');
          menu_ul.hide();
          menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
              menu_a.removeClass('active');
              menu_ul.filter(':visible').slideUp('normal');
              $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
              $(this).removeClass('active');
              $(this).next().stop(true, true).slideUp('normal');
            }
          });

        });
      </script>
      <!---->
      <div class="product-middle">
      </div>

      <!---->
      <div class="product-bottom">
        <div class="of-left-in">
          <h3 class="best">关注最多</h3>
        </div>


        <div id="hotProduct"></div>
      </div>
    </div>


    <!---->

    <!---->
    <div class="col-md-9 product-price1">
      <div class="mens-toolbar">
        <div id="total"></div>
        <div><input type="text" id="productName">
          <button onclick="search()">查找</button>
        </div>
        <!-- <div class="sort">
           <select >
             <option value=""> Sorting By Rate</option>
             <option value="">Sorting By Color</option>
             <option value="">Sorting By Price</option>
           </select>

         </div>-->

        <div class="clearfix"></div>
      </div>
      <div class="product-right-top">
        <div class="top-product" id="allProduct">


        </div>
      </div>

    </div>

    <!--<ul class="start" id="page">-->

    <!--</ul>-->
    <!--<div class="clearfix"></div>-->
    <div class="clearfix"></div>

  </div>

  <!---->

</div>
<div class="bottom-grid1">

  <div class="fit1">
    <h3>购物愉快！</h3>
    <p>小易闲置物品交易平台！</p>
  </div>
</div>

<!---->

<script src="js/simpleCart.min.js"></script>
<!---->
<div class="footer">
  <div class="container">
    <div class="clearfix"></div>
    <p class="footer-class">Copyright &copy; 小易闲置物品交易平台 2019-NOW</p>
  </div>
</div>
<!---->
<script type="text/javascript">
  $(document).ready(function () {
    /*
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear'
    };
    */
    $().UItoTop({easingType: 'easeOutQuart'});
  });
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover"
                                                            style="opacity: 1;"> </span></a>
<!---->
<!---->
</body>
<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }
</script>
<script>
  $(document).ready(function () {
    <!--查询商品-->
    var categoryId = null;
    if (getQueryVariable("categoryId")) {
      categoryId = getQueryVariable("categoryId");
    }
    var current = null;
    if (getQueryVariable("current")) {
      current = getQueryVariable("current");
    }
    var productName = "";
    dataList(productName, categoryId, current)

  })
</script>
<script>
  function search() {
    var categoryId = null;
    if (getQueryVariable("categoryId")) {
      categoryId = getQueryVariable("categoryId");
    }
    var current = null;
    if (getQueryVariable("current")) {
      current = getQueryVariable("current");
    }
    var productName = document.getElementById("productName").value;
    dataList(productName, categoryId, current)
  }
</script>
<script>
  function dataList(productName, categoryId, current) {
    $.ajax({
      type: "POST",
      url: "product/pageProduct",//路径
      data: {
        "categoryId": categoryId,
        "current": current,
        "productName": productName
      },
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        // var  records=data.records;
        //   console.log(records);
        //   var renderList=records.filter(function(item){ // 未卖出的商品
        //       return item.status===0;
        //   })
        //   console.log(renderList)
          allProduct = "";
        for (var i = 0; i < data.records.length; i++) {
          allProduct += '<div class="col-md-4 chain-grid  simpleCart_shelfItem"><div class="grid-span-1"><a href="single.html?id='
              + data.records[i].id
              + '"><input id="productId1" type="hidden" value="' + data.records[i].id
              + '"><img class="img-responsive " src="'
              + data.records[i].mainImage
              + '" alt=" "><div class="link"><ul><li><i class="glyphicon glyphicon-search"> </i></li></ul></div></a></div><div class="grid-chain-bottom "><a href="single.html?id='
              + data.records[i].id + '">' + data.records[i].name
              + '</a><div class="star-price"><div class="price-at"><ul class="star-footer"><li><a href="#"><i> </i></a></li><li><a href="#"><i> </i></a></li><li><a href="#"><i> </i></a></li><li><a href="#"><i> </i></a></li><li><a href="#"><i> </i></a></li></ul></div><div class="price-at-bottom "><del>￥'
              + data.records[i].oldPrice
              + '</del><span class="item_price" style="color:#ff5d56">  ￥' + data.records[i].price
              + '</span></div><div class="clearfix"></div></div><div class="cart-add"><a class="add-cart item_add"  href="#" onclick="addCart()">添加到购物车<i> </i></a><div class="clearfix"></div></div></div></div>';
        }
        $("#allProduct").html('').append(allProduct);

        total = '<p class="showing">展示 1–' + data.records.length + ' 条 共' + data.total
            + '条结果</p>';
        $("#total").html('').append(total);

        var current = 1;
        page = "";
        for (var j = 0; j < data.pages; j++) {
          page += '<li><a href="product.html?current=' + current + '"><li><span>' + current
              + '</span></li></a></li>';
          current++;
        }
        $("#page").html('').append(page);
      }
    });
  }
</script>
<script>
  $(document).ready(function () {
    <!--查询品牌-->
    $.ajax({
      type: "GET",
      url: "category/getCategoryList",//路径
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        var category = "";
        for (var i = 0; i < data.length; i++) {
          category += ' <li class="item1"><a href="product.html?categoryId=' + data[i].id + '">'
              + data[i].realName + ' </a></li>';
        }
        $("#category").html('').append(category);
      }
    });
  })
</script>
<script>
  $(document).ready(function () {
    <!--关注最多商品信息-->
    $.ajax({
      type: "GET",
      url: "product/getHotProduct",//路径
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        var hotProduct = "";
        var length = data.length;
        if (length > 3) {
          for (var i = 0; i < 3; i++) {
            hotProduct += '<div class="product-go"><div class=" fashion-grid"><a href="#"><img class="img-responsive " src="'
                + data[i].mainImage
                + '" alt=""></a></div><div class=" fashion-grid1"><h6 class="best2"><a href="#">'
                + data[i].name + '</a></h6><span class=" price-in1"><small>￥' + data[i].oldPrice
                + '</small> ￥' + data[i].price + '</span></div><div class="clearfix"></div></div>';
          }
        } else {
          for (var i = 0; i < length; i++) {
            hotProduct += '<div class="product-go"><div class=" fashion-grid"><a href="#"><img class="img-responsive " src="'
                + data[i].mainImage
                + '" alt=""></a></div><div class=" fashion-grid1"><h6 class="best2"><a href="#">'
                + data[i].name + '</a></h6><span class=" price-in1"><small>￥' + data[i].oldPrice
                + '</small> ￥' + data[i].price + '</span></div><div class="clearfix"></div></div>';
          }
        }

        $("#hotProduct").html('').append(hotProduct);
      }
    });
  })
</script>
<script>
  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "category/getCategoryList",//路径
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        var category = "";
        first = '<li><a href="product.html">全部</a></li>';
        for (var i = 0; i < data.length; i++) {
          category += '<li><a href="product.html?categoryId=' + data[i].id + '">' + data[i].realName
              + '</a></li>';
        }
        $("#category1").html('').append(first).append(category);
      }
    });
  })
</script>
<script>
  $(document).ready(function () {
    var user = "";

    if (localStorage.getItem('user_name') == null) {
      user = '<a href="account.html"><i class="glyphicon glyphicon-user" class="men"> </i>登录</a>';
    } else {
      user = '<a href="mine.html"><i class="glyphicon glyphicon-user" class="men"> '
          + localStorage.getItem("user_name") + '</i></a><a onclick="logout()">退出</a>';
    }

    $("#user").html('').append(user);
  })
</script>
<script>
  function addCart() {
    var productId = $('#productId1').val();
    var userId = localStorage.getItem('user_id');
    if (userId == null) {
      window.location.href = 'account.html';
    }
    $.ajax({
      type: "POST",
      url: "cart/addCart",//路径
      data: {
        "productId": productId,
        "userId": userId
      },
      dataType: "json",
      success: function (data) {//返回数据根据结果进行相应的处理
        var data = data.data;
        first = '<li><a href="product.html">全部</a></li>';
        var category1 = "";
        for (var i = 0; i < data.length; i++) {
          category1 += '<li><a href="product.html?categoryId=' + data[i].id + '">'
              + data[i].realName
              + '</a></li>';
        }
        $("#category1").html('').append(first).append(category1);
      }
    });
  }
</script>
<script>
  function addCart() {
    var productId = $('#productId1').val();
    var userId = localStorage.getItem('user_id');
    if (userId == null) {
      window.location.href = 'account.html';
    } else {
      $.ajax({
        type: "POST",
        url: "cart/addCart",//路径
        data: {
          "productId": productId,
          "userId": userId
        },
        dataType: "json",
        success: function (data) {//返回数据根据结果进行相应的处理
          var data = data.data;
          first = '<li><a href="product.html">全部</a></li>';
          var category1 = "";
          for (var i = 0; i < data.length; i++) {
            category1 += '<li><a href="product.html?categoryId=' + data[i].id + '">'
                + data[i].realName
                + '</a></li>';
          }
          $("#category1").html('').append(first).append(category1);
        }
      });
    }
  }
</script>
<script>
  function logout() {
    localStorage.clear();
    window.location.reload();
  }
</script>
</html>